.todocontainer {
    background-color: white;
    width:60vw;
    min-height: 40vh;
    margin: 10vh 20vw;
    border:3px solid black;
    border-radius: 20px;
    padding:20px;
}

.pContainer {
    text-align: center;
    font-size: 30px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}